.zd-bg-blue {
    background-color: #435cff;
}

.zd-fg-blue {
    color: #435cff;
}

.zd-icon {
    padding-right: 10px;
    font-size: 20px;
    vertical-align: inherit;
}

.zd-bold {
    font-weight: 700;
}

.zd-hero-banner {
    height: 400px;
}

.zd-use-font {
    font-family: 'Raleway', sans-serif;
}

.zd-header {
    font-size: 24px;
    color: #0d0d4f"
}

.zd-center {
    width: 100%; 
    max-width: 1100px;
}

.zd-banner-text {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-top: 60px;
    margin-right: 200px;
    line-height: 70px
}
